@charset "UTF-8";

body {
    background-color: white;
}


main div.blueBackground {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-content: center;
    width: 1900px;
    height:900px;
    margin: 150px auto auto  auto;
}

main div.whiteBackground {
    background-color: white;
    align-content: center;
    width: 400px;
    height:600px;
    margin: auto;
    border-radius: 5%;
}

img {
    height:60%;
    margin: 20px 20px;
    border-radius: 5%;
}

main h1 {
    text-align: center;
    margin: -2px 30px;
    font-weight: 1000;
    font-size: 28px;
    font-family: Outfit;

}

main h2 {
    text-align: center;
    margin: 20px 35px;
    font-weight: 400;
    font-size: 20px;
    color: gray;
    font-family: Outfit;
}

